body {
  font-family: sans-serif;
  line-height: 1.5;
}

button {
  background-color: black;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
}
button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

strong {
  font-size: 24px;
}
strong:hover {
  color: green;
}

h2 {
  text-align: center;
  background-color: #dfdfdf;
  font-family: sans-serif;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 750;
}

.detail {
  list-style: square;
}

article {
  border: 4px;
  border-style: solid;
  border-color: black;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  text-decoration: none;
}

.freeShipping {
  color: rgb(126, 123, 123);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
